.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: #f5f5f5;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: rgb(232, 31, 202);
  text-decoration: none;
  font-family: "Brush Script MT", cursive;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #9dd2f8;
  color: white;
  padding: 10px 20px;
}

.navbar a:hover {
  color: rgb(232, 31, 202);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

.hero-picture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hero img {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.projects {
  margin: 10px 0;
  width: 100%;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 30px;
}

.card {
  width: 200px;
  box-shadow: 0 4px 8px grey;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content p {
  color: #555;
  margin-top: 10px;
}

.card {
  width: 200px;
  box-shadow: 0 4px 8px grey;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content p {
  color: #555;
  margin-top: 10px;
}

footer {
  background-color: #9dd2f8;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-links ul {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.footer-links ul li a {
  color: rgb(232, 31, 202);
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer ul li {
  display: flex;
  margin: 0 10px;
}
